nav {
  text-align: center;
  height: 4rem;
  background-color: #1d1a31;
  color: white;
  font-size: 2rem;
  padding-top: 10px;
}

/* products */
.products {
  text-align: center;
  margin: 1rem;
  color: #fff;
}
.products input {
  height: 30px;
  width: 50%;
  margin: 5px;
}
.products button {
  height: 30px;
  cursor: pointer;
}

/* grid */

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

/* Display */
.display {
  height: 50vh;
  width: 30vw;
  background-color: white;
  padding: 5px;
  margin: 10px;
  overflow: hidden;
  overflow: scroll;
  margin-top: 0px;
}

.disp-btn {
  background-color: #1d1a31;
  border: 3px solid black;
  color: white;
  height: 30px;
  padding: 5px;
  margin: 10px;
  margin-bottom: 0px;
  cursor: pointer;
}

.container {
  display: inline-block;
  margin: 10px;
}

li {
  border: 2px solid black;
  margin: 2px;
  padding: 3px;
}
